*{
    padding: 0%;
    margin: 0%;
}

.fondo{
    background-color:rgb(71, 44, 44);
}

.hero{
    box-shadow: 0 0 20px;
    
    background-image: url(Elementos/fondo2.jpg);
    width: 100%;
    height: 200vh;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-flex-align: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.espacio{
    padding: 25%
}
.texto{

    font-size: 30px;
    line-height: 100%;
    padding: 10%;
    width: 100%;
    color: white;
    justify-content: center;

    
}


